<div class="header">
    <div class="name">
        <h2 class="title">Fresh Fruit Stand</h2>
        <h3 class="subtitle">Fruit Stand REST API</h3>
    </div>
    <div class="nav-bar">
        <a
            class="nav-bar-item"
            href="/vendor"
        >Vendor</a>
        <a
            class="nav-bar-item"
            href="customer"
        >Customer</a>
    </div>
</div>